@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lobster&family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');

/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

/*HEADER*/
.container-header {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 12px;
}

.container-logo {
    display: flex;
    align-items: center;
}

.img-logo img {
    width: 150px;
}

.descriçao-logo {
    text-align: center;
}

.title-logo {
    font-size: 2.2em;
    font-family: "Merienda", cursive;
    font-weight: bold;
    color: #437024;
    padding: 0;
}

.paragrafo-logo {
    font-size: .8em;
    font-family: "Merienda", cursive;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #437024;
}

.container-links {

    display: flex;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
    width: 500px;
    position: relative;
    left: 16em;
}

.container-links a:hover {
    background-color: #2c4918;
    border-radius: 12px;
    color: aliceblue;
    padding: 5px;
    transition: 0.5s;
    transform: scale(1.06);

}

nav .container-links a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #437024;
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Merienda", cursive;

}

/*HEADER*/

/*MENU HAMBURGUER*/

.btn-abrir-menu i {
    color: #2c4918;
    font-size: 40px;
    display: none;
}

.menu-mobile {
    background-color: aliceblue;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0%;
    height: 100%;
    overflow: hidden;
    transition: .4s;
}

.menu-mobile.abrir-menu {
    width: 70%;
}

.menu-mobile.abrir-menu .overlay-menu {
    display: block;
}

.menu-mobile .btn-fechar {
    padding: 20px 1em;
}

.menu-mobile .btn-fechar i {
    color: #2c4918;


}

.menu-mobile nav ul {
    text-align: right;
    list-style: none;

}

.menu-mobile nav ul li a {
    display: block;
    text-decoration: none;
    padding: 20px 1em;
    line-height: 2em;
    color: #437024;
    font-size: 1.8em;
    font-weight: bold;
    font-family: "Merienda", cursive;

}

.menu-mobile nav ul li a:hover {
    background-color: #2c4918;
    color: aliceblue;
}

.overlay-menu {
    background-color: rgba(187, 187, 187, 0.719);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    display: none;
}

/*MENU HAMBURGUER*/



/* ESTILO NO MAIN */

.section-redes {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style-type: none;
}

i {
    font-size: 40px;
    color: #1c300f;

}

i:hover {
    color: aliceblue;
    transition: 0.5s;
}


.container-main {
    background-image: url(imagens/green-wall-texture.jpg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}

.img-prato img {
    width: 550px;
}

.apresentaçao {
    width: 650px;
    font-family: "Merienda", cursive;
    align-items: center;

}

.title-apresentação {
    font-family: "Lobster", sans-serif;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 4.5em;
    color: #2c4918;
    line-height: 1em;
    text-shadow: 0 5px 0px rgba(255, 255, 255, 0.61);


}

.paragrafo-apresentaçao {
    font-size: 1.2em;
    color: #1c300f;
    line-height: 1.7em;
    font-weight: bold;
    font-family: "Merienda", cursive;
}

.link-botao:hover {
    transform: scale(1.06);
    transition: 0.5s;
}

.botao .link-botao {
    background-color: #2c4918;
    text-decoration: none;
    padding: 12px;
    display: inline-block;
    margin-top: 1.5em;
    font-size: 1.2em;
    border-radius: 10px;
    color: antiquewhite;
    font-weight: bold;
}

/*SEÇÃO DE QUESTIONARIO*/
.imagem-mulher img,
.img-mulher-beneficios img {
    width: 350px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 3px rgba(0, 0, 0, 0.5);
}

.container-texto-imagem,
.seçao-beneficios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.questionario {
    background-color: aliceblue;
}

.pergunta-escolha {
    text-align: center;
    font-family: "Merienda", cursive;
    font-size: 40px;
    color: #2c4918;
    padding-top: 100px;
}

.grid-container,
.grid-beneficios {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 40px;

}

.grid-item,
.bloco-beneficios {
    font-size: 1em;
    text-align: center;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 25px;
    height: 100%;
}

.beneficios {
    background-color: #9abe82;
}

.bloco-beneficios {
    background-color: aliceblue;
}

.bloco-paragrafo {
    font-family: "Merienda", cursive;
    font-size: 1em;
}



h2 {
    font-size: 1.5em;
    font-family: "Merienda", cursive;
    color: #1c300f;
    padding-bottom: 10px;
}


.title-beneficios {
    text-align: center;
    font-size: 2.5em;
    padding: 2rem;
    font-family: "Merienda", cursive;
    color: #1c300f;

}

.blocos-pratos {
    background-image: url(imagens/green-wall-texture.jpg);
}

.divisao-pratos img {
    width: 250px;
    padding: 1.3em;
    border-radius: 32px;

}

.divisao-pratos {

    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;

}

.title-pratos {
    text-align: center;
    font-size: 2.5em;
    padding: 2rem;
    font-family: "Merienda", cursive;
    color: #1c300f;
}

.estilo-letra-prato {
    font-family: "Lobster", sans-serif;
    padding-bottom: 1em;
    font-weight: 300;
    font-size: 1.2em;
    color: #1c300f;
    line-height: 1em;

}

/*SOBRE NÓS*/

.container-quem-somos {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.texto-quem-somos {
    width: 600px;
}

img {
    width: 500px;
    border-radius: 12px;

}

p {
    font-family: "Petrona", serif;
    font-size: 1.3em;

}

.container-planos img {
    width: 250px;

}

.container-planos {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    justify-content: center;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mensagem-planos {
    font-family: "Merienda", cursive;
    color: #2c4918;
    font-weight: bold;
    font-size: 1.3em;
    padding: 15px;

}

.container-consultoria {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 0 2em;
    align-items: center;
}

.container-texto-consultoria {
    width: 600px;
}

video {
    width: 600px;
    padding: 2em;
    border-radius: 50px;
}

.container-programa {
    display: flex;
    justify-content: space-around;
    padding: 2em 0 2em 0;
    align-items: center;
}

.container-texto-programa {
    width: 600px;
}

.container-texto-pergunta {
    display: flex;
    justify-content: space-around;
}

.texto-pergunta {
    width: 600px;
}


/*CONTATO*/
.form-contato {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

fieldset {
    display: flex;
    margin-top: 100px;
    width: 500px;
    margin: 0 auto;
    flex-direction: column;
    border: 2px solid #437024;
    border-radius: 10px;
}

.container-dados {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Merienda", cursive;
    text-align: center;

}

label {
    font-size: 1em;
    font-weight: bold;
    font-family: "Merienda", cursive;
}


/* RESPONSIVO PARA CELULAR */
@media (max-width: 630px) {

    .imagen_logo img {
        width: 110px;
    }

    .container-header {
        display: flex;
        flex-direction: row;
        padding-left: 0;

    }

    .paragrafo-logo {
        font-size: 10px;
    }

    .title-logo {
        font-size: 1.5em;
    }

    .container-links {
        display: none;

    }

    .section-redes ul {
        display: flex;
        flex-direction: row;
    }

    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .apresentaçao {
        padding: 20px;
        margin-bottom: 120px;
        display: flex;
        flex-direction: column;
        width: auto;

    }

    .container-title h1 {
        font-size: 2.4em;
    }

    .paragrafo-apresentaçao {
        text-align: start;
    }

    .botao {

        display: flex;
        justify-content: center;
    }

    .img-prato img {
        width: 360px;
        height: auto;
    }

    .container-links {
        display: none;
    }

    .btn-abrir-menu i {
        display: block;
    }



}

/* RESPONSIVO PARA TABLETES */

@media (min-width:630px) and (max-width:1210px) {
    .container-main {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .btn-abrir-menu {
        display: none;
    }


    .section-redes ul {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }

    .container-header {
        display: flex;
        flex-direction: column;
        height: 150px;
        margin: 8px;
        padding: 15px;

    }

    .img-logo {
        display: none;
    }

    .apresentaçao {
        margin-bottom: 120px;
    }

    .botao {
        display: flex;
        justify-content: center;

    }

    .container-texto-imagem {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .container-textos h1 {
        font-size: 2em;
    }

    .divisao-pratos {
        display: grid;
        place-items: center;
        grid-template-columns: 200px 200px;
        gap: 30px;
        width: 100%;

    }

    .estilo-letra-prato {
        justify-content: center;
    }
}